<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>
<link rel="stylesheet" href="//www.dur.ac.uk/css/university/style5-2019.css" type="text/css">
<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("About")}</%block>
        </h1>
        <p>
            <%block name="pagecontent">
				
				<h2> About US</h2>
                			
				
				{{ PLATFORM_NAME }} is a development online learning platform For Durham University powered by <a href="https://open.edx.org">Open edX</a>. 
				
                <div id=  class="contentblock contentblock-content-xhtml-display"><div class=" "><span class="sw"><img src="https://www.dur.ac.uk/images/New-banners/45988.jpg" alt="About Durham" /></span></div>
<h2>A globally outstanding centre of teaching and research excellence, a collegiate community of extraordinary people, a unique and historic setting &ndash; Durham is a university like no other</h2>
</div><div id="content251461" class="contentblock contentblock-content-xhtml-display">
<p>We believe that inspiring our people to do outstanding things at Durham enables Durham people to do outstanding things in the world.</p>
<p>So, we conduct boundary breaking research which improves lives across the world. We challenge our students and value a wider student experience that fosters participation and leadership at Durham and beyond. Our supportive approach enables our people to achieve extraordinary things. And our loyal and devoted worldwide community, wherever they go, whatever they do, are always Durham inspired.</p>
</div><div id="content251462" class="contentblock contentblock-content-xhtml-display">
<p>We find it easy to be proud of the extraordinary people we have at Durham. We offer the inspiration, they achieve the outstanding.</p>
<p>We invite you to join them.</p>
<p>Durham University<br> Inspiring the extraordinary</p>
<hr>

</div><div id="content252480" class="contentblock contentblock-content-xhtml-display">
<h2><strong>We are...</strong></h2>
</div><div id="content251457" class="contentblock contentblock-content-grid-display"><div class="layout_boxed">
	<div class="row-fluid"><div class="span3 "><div class="column-content column-content-simple"><h3>Inspiring</h3>
<p>By stimulating an instinct to challenge, encouraging innovative thinking and taking our responsibilities seriously, we foster a culture that inspires the extraordinary.</p></div></div><div class="span3 "><div class="column-content column-content-simple"><div class="yellow_tile">
<h3>Challenging</h3>
<p>Always curious, we challenge ourselves and each other to answer the big questions and create a positive impact in the world.</p>
</div></div></div><div class="span3 "><div class="box-heading"><img src="https://www.dur.ac.uk/images/undergraduate/2019/_0003_Musicgirlsingerinblue.jpg" title="" alt="" /></div><div class="column-content column-content-simple"></div></div><div class="span3 "><div class="column-content column-content-simple"><h3>Innovative</h3>
<p>From creative teaching practices and cutting edge research to new ways of working, innovation is at the heart of what we do. </p></div></div></div><div class="row-fluid"><div class="span3 "><div class="box-heading"><img src="https://www.dur.ac.uk/images/undergraduate/2019/Filler_0004_DurhamStudy.jpg" title="" alt="" /></div><div class="column-content column-content-simple"></div></div><div class="span3 "><div class="column-content column-content-simple"><h3>Responsible</h3>
<p>We take our duties as a centre of learning, neighbour and employer seriously, embracing all of our different communities and celebrating the differences that make us stronger together.</p></div></div><div class="span3 "><div class="column-content column-content-simple"><div class="yellow_tile">
<h3>Enabling</h3>
<p>We create the opportunities, support and freedom for everyone at Durham to become the best they can be now, and for the future.</p></div></div></div><div class="span3 "><div class="box-heading"><img src="https://www.dur.ac.uk/images/undergraduate/2019/Filler-shape.jpg" title="" alt="" /></div><div class="column-content column-content-simple"></div></div></div><div class="row-fluid"><div class="span1 "><div class="column-content column-content-simple"><style>

				
				</%block>
        </p>
    </section>
</main>